.tasklist-container {
  width: 250px;
  min-width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgrey;
}

.tasklist-container-name {
  height: 3rem;
  padding-left: 1rem;

  // Center contents vertically
  display: flex;
  align-items: center;
}
