.btn {
  margin: 5px;
}

.button-row {
  width: 100%;
  margin: auto;
}

@import "Components/createboardcard";
@import "Components/boardcard";
@import "Components/boardlist";
@import "Components/boarddetailscontainer";
@import "Components/boarddetailsheader";
@import "Components/tasklistcontainer";
@import "Components/taskcard";
@import "Components/createtaskcard";
