.btn {
  margin: 5px;
}

.button-row {
  width: 100%;
  margin: auto;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@import "Components/createboardcard";
@import "Components/boardcard";
@import "Components/BoardList/boardlist";
@import "Components/BoardDetailsContainer/boarddetailscontainer";
@import "Components/BoardDetailsHeader/boarddetailsheader";
@import "Components/TasklistContainer/tasklistcontainer";
@import "Components/taskcard";
@import "Components/createtaskcard";
@import "Components/CreateTaskModal/createtaskmodal";
